<% @product.reviews.each do |review| %>
	<div class="media">
		<div class="media-body">
			<%= review.comment %>
				<% if review.user != nil %>
				<em>by <%= review.user.name %> </em>
				Added on: <%= review.created_at.localtime %>
				<% end %>
		</div>
	</div>
<% end %>