<!-- Row 2 -->
<header class="row">
	<div class="col-sm-6">
		<h1>Products#index</h1>
	</div>
</header>
<!-- 

<%# form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
	<%# text_field_tag :search, params[:search] %>
	<%# submit_tag "Search" %>
<%# end %> -->

<div class="jumbotron">
	<h1>Your featured product</h1>
	<h2><%= link_to @featured.name, product_path(@featured.id)  %></h2>
</div>
<div id="products">

	<%= render @products %>
	
</div>


<hr />

<!-- outputs several pagination links such as first prev etc...-->
<%= paginate @products %>

